{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Ideas'|trans }}{% endblock %}

{% block content %}
    <!--wrap-->
    <div class="wrap clearfix">
        <!--breadcrumbs-->
        <nav class="breadcrumbs">
            <ul>
                <li><a href="index-2.html" title="Главная">Главная</a></li>
                <li>Идеи</li>
            </ul>
        </nav>
        <!--//breadcrumbs-->

        <!--row-->
        <div class="row">
            <header class="s-title wow fadeInLeft">
                <h1>Идеи</h1>
            </header>

            <!--content-->
            <section class="content three-fourth wow fadeInUp">
                <!--entries-->
                <div class="entries row">
                    <!--item-->
                    {% import "IdeaFlowIdeaBundle:Idea:preview.html.twig" as ideaMacro %}
                    {% for idea in ideas %}
                        {{ ideaMacro.view(idea) }}
                    {% endfor %}
                    <!--item-->

                    {% if ideas %}
                        <div class="quicklinks">
                            {{ knp_pagination_render(ideas) }}
                            <a href="javascript:void(0)" class="button scroll-to-top">Наверх</a>
                        </div>
                    {% endif %}


                </div>
                <!--//entries-->
            </section>
            <!--//content-->

            {{ render(controller('IdeaFlowIdeaBundle:Category:getList',{current:category|default(null)})) }}

        </div>
        <!--//row-->
    </div>
    <!--//wrap-->

{% endblock %}

