{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ idea.title }}{% endblock %}

{% block content %}
    <!--wrap-->
    <div class="wrap clearfix">
    <!--breadcrumbs-->
    <nav class="breadcrumbs">
        <ul>
            <li><a href="{{ path('homepage') }}" title="{{ 'Home'|trans }}">{{ 'Home'|trans }}</a></li>
            <li><a href="{{ path('ideas') }}" title="{{ 'Ideas'|trans }}">{{ 'Ideas'|trans }}</a></li>
            <li>{{ idea.title }}</li>
        </ul>
    </nav>
    <br/>
    <!--//breadcrumbs-->

    <!--row-->
    <div class="row">
    <header class="s-title wow fadeInLeft">
        <h1>{{ idea.title }}</h1>
    </header>
    <!--content-->
    <section class="content three-fourth">
        <div class="row">
            <!--recipe-->
            {% import "IdeaFlowIdeaBundle:Idea:view.html.twig" as ideaView %}
            {{ ideaView.view(idea) }}
            <!--//recipe-->

            <!--comments-->
            <div style="display: none;" class="comments wow fadeInUp" id="comments">
                <h2>5 comments </h2>
                <ol class="comment-list">
                    <!--comment-->
                    <li class="comment depth-1">
                        <div class="avatar"><a href="my_profile.html"><img src="/images/avatar1.jpg" alt="" /></a></div>
                        <div class="comment-box">
                            <div class="comment-author meta">
                                <strong>Kimberly C.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                            </div>
                        </div>
                    </li>
                    <!--//comment-->

                    <!--comment-->
                    <li class="comment depth-1">
                        <div class="avatar"><a href="my_profile.html"><img src="/images/avatar2.jpg" alt="" /></a></div>
                        <div class="comment-box">
                            <div class="comment-author meta">
                                <strong>Alex J.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                            </div>
                        </div>
                    </li>
                    <!--//comment-->

                    <!--comment-->
                    <li class="comment depth-2">
                        <div class="avatar"><a href="my_profile.html"><img src="/images/avatar1.jpg" alt="" /></a></div>
                        <div class="comment-box">
                            <div class="comment-author meta">
                                <strong>Kimberly C.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                            </div>
                        </div>
                    </li>
                    <!--//comment-->

                    <!--comment-->
                    <li class="comment depth-3">
                        <div class="avatar"><a href="my_profile.html"><img src="/images/avatar2.jpg" alt="" /></a></div>
                        <div class="comment-box">
                            <div class="comment-author meta">
                                <strong>Alex J.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                            </div>
                        </div>
                    </li>
                    <!--//comment-->

                    <!--comment-->
                    <li class="comment depth-1">
                        <div class="avatar"><a href="my_profile.html"><img src="/images/avatar3.jpg" alt="" /></a></div>
                        <div class="comment-box">
                            <div class="comment-author meta">
                                <strong>Denise M.</strong> said 1 month ago <a href="#" class="comment-reply-link"> Reply</a>
                            </div>
                            <div class="comment-text">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
                            </div>
                        </div>
                    </li>
                    <!--//comment-->
                </ol>
            </div>
            <!--//comments-->

            <!--respond-->
            <div style="display: none;" class="comment-respond wow fadeInUp" id="respond">
                <h2>Leave a reply</h2>
                <div class="container">
                    <p><strong>Note:</strong> Comments on the web site reflect the views of their authors, and not necessarily the views of the socialchef internet portal. Requested to refrain from insults, swearing and vulgar expression. We reserve the right to delete any comment without notice explanations.</p>
                    <p>Your email address will not be published. Required fields are signed with <span class="req">*</span></p>
                    <form>
                        <div class="f-row">
                            <div class="third">
                                <input type="text" placeholder="Your name" />
                                <span class="req">*</span>
                            </div>

                            <div class="third">
                                <input type="email" placeholder="Your email" />
                                <span class="req">*</span>
                            </div>

                            <div class="third">
                                <input type="text" placeholder="Your website" />
                            </div>

                        </div>
                        <div class="f-row">
                            <textarea></textarea>
                        </div>

                        <div class="f-row">
                            <div class="third captcha">
                                <label>How much is  2+10?</label>
                                <input type="text" />
                                <span class="req">*</span>
                            </div>

                            <div class="third bwrap">
                                <input type="submit" value="Submit comment" />
                            </div>
                        </div>

                        <div class="bottom">
                            <div class="f-row checkbox">
                                <input type="checkbox" id="ch1" />
                                <label for="ch1">Notify me of replies to my comment via e-mail</label>
                            </div>
                            <div class="f-row checkbox">
                                <input type="checkbox" id="ch2" />
                                <label for="ch2">Notify me of new articles by email.</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--//respond-->
        </div>
    </section>
    <!--//content-->

    <!--right sidebar-->
    <aside class="sidebar one-fourth wow fadeInRight">
        <!-- <div class="widget nutrition">
            <h3>Интересные факты</h3>
            <table>
                <tr>
                    <td>Calories </td>
                    <td>505</td>
                </tr>
                <tr>
                    <td>Protein</td>
                    <td>59g</td>
                </tr>
                <tr>
                    <td>Carbs</td>
                    <td>59g</td>
                </tr>
                <tr>
                    <td>Fat</td>
                    <td>29g</td>
                </tr>
                <tr>
                    <td>Saturates</td>
                    <td>17g</td>
                </tr>
                <tr>
                    <td>Fibre</td>
                    <td>2g</td>
                </tr>
                <tr>
                    <td>Sugar</td>
                    <td>44g</td>
                </tr>
                <tr>
                    <td>Salt</td>
                    <td>0.51g</td>
                </tr>
            </table>
        </div>
         -->
        {% import "IdeaFlowAppBundle:Helpers:favouriteBlock.html.twig" as favourite %}
        {{ favourite.favourite_buttons(idea,isFavorite) }}
        <!-- favourited by users -->
        {# render(controller('IdeaFlowUserBundle:Favourite:favouriteBy')) #}

    </aside>
    <!--//right sidebar-->
    </div>
    <!--//row-->
    </div>
    <!--//wrap-->

    {% endblock %}

