{% extends "IdeaFlowAppBundle::layout.html.twig" %}
{% block title %}
    {{ app_name }} - {{ 'Home'|trans }}
{% endblock %}
{% block content %}
    <!--intro-->
    <div class="intro">
        <!--wrap-->
        <div class="wrap clearfix">
            <!--row-->
            <div class="row">

                <article class="three-fourth text wow zoomIn" data-wow-delay=".2s">
                    <h1>{{ 'Welcome to IdeaFlow!'|trans }}</h1>

                    <h3>{{ 'Show description'|trans }}</h3>
                    {% if not is_granted('ROLE_USER') %}
                        <a href="{{ path('_user_signup') }}" class="button white more medium">
                            {{ 'Sign up'|trans }}</a>

                        <h3>{{ 'Already a member? Click to'|trans }}
                            <a style="color: #000000;" href="{{ path('_user_login_page') }}">{{ 'enter'|trans }}</a>.
                        </h3>
                    {% endif %}
                </article>

                <!--search recipes widget-->
                <div class="one-fourth wow fadeInDown" data-wow-delay=".5s">
                    <div class="widget container">
                        <div class="textwrap">
                            <h3>{{ 'Search'|trans }}</h3>

                            <p>{{ 'All you need to do is enter the tag that interests you.'|trans }}</p>

                            <p>{{ 'Just you can choose some interesting topics.'|trans }}</p>

                            <p>{{ 'Enjoy!'|trans }}</p>
                        </div>
                        {% form_theme searchForm 'IdeaFlowUserBundle:Form:fields.html.twig' %}

                        {{ form_start(searchForm) }}
                        <div class="f-row">
                            {{ form_row(searchForm.text) }}
                        </div>
                        <div class="f-row">
                            {{ form_row(searchForm.categories) }}
                        </div>
                        <div class="f-row bwrap">
                            <input type="submit" value="{{ 'Поиск'|trans }}"/>
                        </div>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
                <!--//search recipes widget-->
            </div>
            <!--//row-->
        </div>
        <!--//wrap-->
    </div>
    <!--//intro-->

    <!--wrap-->
    <div class="wrap clearfix">
    <!--row-->
    <div class="row">
    <!--content-->
    <section class="content full-width">
        <div class="icons dynamic-numbers">
            <header class="s-title wow fadeInDown">
                <h2 class="ribbon large">{{ 'IdeaFlow in figures'|trans }}</h2>
            </header>

            <!--row-->
            <div class="row wow fadeInUp">
                <!--item-->
                <div class="one-sixth">
                    <div class="container">
                        <i class="ico i-members"></i>
                        <span class="title dynamic-number" data-dnumber="{{ usersCount }}">0</span>
                        <span class="subtitle">{{ 'Users'|trans }}</span>
                    </div>
                </div>
                <!--//item-->

                <!--item-->
                <div class="one-sixth">
                    <div class="container">
                        <i class="ico i-recipes"></i>
                        <span class="title dynamic-number" data-dnumber="{{ ideasCount }}">0</span>
                        <span class="subtitle">{{ 'Ideas' }}</span>
                    </div>
                </div>
                <!--//item-->
                <div class="cta">
                    <a href="{{ path('_user_signup') }}" class="button big">{{ 'Sign up'|trans }}</a>
                </div>
            </div>
            <!--//row-->
        </div>
    </section>
    <!--//content-->

    <!--content-->
    <section class="content three-fourth">
        <!--cwrap-->
        <!--
        <div class="cwrap">
            <!--entries-->
        <!--   <div class="entries row">
              <!--featured recipe-->
        <!--
                <div class="featured two-third wow fadeInLeft">
                    <header class="s-title">
                        <h2 class="ribbon">{{ 'Idea of the day'|trans }}</h2>
                    </header>
                    <article class="entry">
                        <figure>
                            <img src="/images/img2.jpg" alt=""/>
                            <figcaption><a href="recipe.html"><i class="ico i-view"></i>
                                    <span>{{ 'View recipe'|trans }}</span></a></figcaption>
                        </figure>
                        <div class="container">
                            <h2><a href="recipe.html">Honey Cake</a></h2>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>

                            <div class="actions">
                                <div>
                                    <a href="#" class="button">{{ 'Read'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                 -->
        <!--//featured recipe-->
        <!--featured member-->
        <!--
                <div class="featured one-third wow fadeInLeft" data-wow-delay=".2s">
                    <header class="s-title">
                        <h2 class="ribbon star">{{ 'Featured member'|trans }}</h2>
                    </header>
                    <article class="entry">
                        <figure>
                            <img src="images/avatar1.jpg" alt=""/>
                            <figcaption><a href="my_profile.html"><i class="ico i-view"></i>
                                    <span>{{ 'View member'|trans }}</span></a></figcaption>
                        </figure>
                        <div class="container">
                            <h2><a href="my_profile.html">Kimberly C.</a></h2>
                            <blockquote>Traditional dishes and fine bakery products accompanied by beautiful photographs
                                to bend around and attract the tryout! Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit.
                            </blockquote>
                            <div class="actions">
                                <div>
                                    <a href="#" class="button">Check out her recipes</a>

                                    <div class="more"><a href="#">See past featured members</a></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!--//featured member
            </div>
            <!--//entries
        </div> -->
        <!--//cwrap-->

        <!--cwrap-->
        <div class="cwrap">
            <header class="s-title">
                <h2 class="ribbon bright">{{ 'Last ideas'|trans }}</h2>
            </header>

            <!--entries-->
            <div class="entries row">
                {% import "IdeaFlowIdeaBundle:Idea:preview.html.twig" as ideaMacro %}
                {% for idea in ideas %}
                    {{ ideaMacro.view(idea) }}
                {% endfor %}
                <!--item-->

                {% if ideas %}
                    <div class="quicklinks">
                        {{ knp_pagination_render(ideas) }}
                        <a href="javascript:void(0)" class="button scroll-to-top">{{ 'Up'|trans }}</a>
                    </div>
                {% endif %}
            </div>
            <!--//entries-->
        </div>
        <!--//cwrap-->

        <!--cwrap-->
        <div style="display: none;" class="cwrap">
            <h2 class="ribbon bright">{{ 'Latest articles'|trans }}</h2>
            <!--entries-->
            <div class="entries row">
                <!--item-->
                <div class="entry one-third wow fadeInLeft">
                    <figure>
                        <img src="/images/img12.jpg" alt=""/>
                        <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a>
                        </figcaption>
                    </figure>
                    <div class="container">
                        <h2><a href="blog_single.html">Barbeque party</a></h2>

                        <div class="actions">
                            <div>
                                <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                <div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a>
                                </div>
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                                Lorem ipsum dolor sit amet . . . </p>
                        </div>
                    </div>
                </div>
                <!--item-->

                <!--item-->
                <div class="entry one-third wow fadeInLeft" data-wow-delay=".2s">
                    <figure>
                        <img src="/images/img11.jpg" alt=""/>
                        <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a>
                        </figcaption>
                    </figure>
                    <div class="container">
                        <h2><a href="blog_single.html">How to make sushi</a></h2>

                        <div class="actions">
                            <div>
                                <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                <div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a>
                                </div>
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                                Lorem ipsum dolor sit amet . . . </p>
                        </div>
                    </div>
                </div>
                <!--item-->

                <!--item-->
                <div class="entry one-third wow fadeInLeft" data-wow-delay=".4s">
                    <figure>
                        <img src="/images/img10.jpg" alt=""/>
                        <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a>
                        </figcaption>
                    </figure>
                    <div class="container">
                        <h2><a href="blog_single.html">Make your own bread</a></h2>

                        <div class="actions">
                            <div>
                                <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                <div class="comments"><i class="ico i-comments"></i><a href="blog_single.html#comments">27</a>
                                </div>
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                                Lorem ipsum dolor sit amet . . . </p>
                        </div>
                    </div>
                </div>
                <!--item-->

                <div class="quicklinks">
                    <a href="#" class="button">More posts</a>
                    <a href="javascript:void(0)" class="button scroll-to-top">Back to top</a>
                </div>
            </div>
            <!--//entries-->
        </div>
        <!--//cwrap-->
    </section>
    <!--//content-->


    <!--right sidebar-->
    <aside class="sidebar one-fourth">
        <!-- categories
        <div class="widget wow fadeInRight">
            <h3>{{ 'Idea categories'|trans }}</h3>
            <ul class="boxed">
                <li class="light"><a href="recipes.html" title="Appetizers"><i class="ico i-appetizers"></i> <span>Apetizers</span></a>
                </li>
                <li class="medium"><a href="recipes.html" title="Cocktails"><i class="ico i-cocktails"></i> <span>Cocktails</span></a>
                </li>
                <li class="dark"><a href="recipes.html" title="Deserts"><i class="ico i-deserts"></i>
                        <span>Deserts</span></a></li>

                <li class="medium"><a href="recipes.html" title="Cocktails"><i class="ico i-eggs"></i> <span>Eggs</span></a>
                </li>
                <li class="dark"><a href="recipes.html" title="Equipment"><i class="ico i-equipment"></i> <span>Equipment</span></a>
                </li>
                <li class="light"><a href="recipes.html" title="Events"><i class="ico i-events"></i> <span>Events</span></a>
                </li>

                <li class="dark"><a href="recipes.html" title="Fish"><i class="ico i-fish"></i> <span>Fish</span></a>
                </li>
                <li class="light"><a href="recipes.html" title="Ftness"><i class="ico i-fitness"></i>
                        <span>Fitness</span></a></li>
                <li class="medium"><a href="recipes.html" title="Healthy"><i class="ico i-healthy"></i>
                        <span>Healthy</span></a></li>

                <li class="light"><a href="recipes.html" title="Asian"><i class="ico i-asian"></i>
                        <span>Asian</span></a></li>
                <li class="medium"><a href="recipes.html" title="Mexican"><i class="ico i-mexican"></i>
                        <span>Mexican</span></a></li>
                <li class="dark"><a href="recipes.html" title="Pizza"><i class="ico i-pizza"></i> <span>Pizza</span></a>
                </li>

                <li class="medium"><a href="recipes.html" title="Kids"><i class="ico i-kids"></i> <span>Kids</span></a>
                </li>
                <li class="dark"><a href="recipes.html" title="Meat"><i class="ico i-meat"></i> <span>Meat</span></a>
                </li>
                <li class="light"><a href="recipes.html" title="Snacks"><i class="ico i-snacks"></i> <span>Snacks</span></a>
                </li>

                <li class="dark"><a href="recipes.html" title="Salads"><i class="ico i-salads"></i> <span>Salads</span></a>
                </li>
                <li class="light"><a href="recipes.html" title="Storage"><i class="ico i-storage"></i>
                        <span>Storage</span></a></li>
                <li class="medium"><a href="recipes.html" title="Vegetarian"><i class="ico i-vegetarian"></i> <span>Vegetarian</span></a>
                </li>
            </ul>
        </div>
         -->
        <div style="display: none;" class="widget wow fadeInRight" data-wow-delay=".2s">
            <h3>Tips and tricks</h3>
            <ul class="articles_latest">
                <li>
                    <a href="blog_single.html">
                        <img src="/images/img9.jpg" alt=""/>
                        <h6>How to decorate cookies</h6>
                    </a>
                </li>
                <li>
                    <a href="blog_single.html">
                        <img src="/images/img10.jpg" alt=""/>
                        <h6>Make your own bread</h6>
                    </a>
                </li>
                <li>
                    <a href="blog_single.html">
                        <img src="/images/img11.jpg" alt=""/>
                        <h6>How to make sushi</h6>
                    </a>
                </li>
                <li>
                    <a href="blog_single.html">
                        <img src="/images/img12.jpg" alt=""/>
                        <h6>Barbeque party</h6>
                    </a>
                </li>
                <li>
                    <a href="blog_single.html">
                        <img src="/images/img8.jpg" alt=""/>
                        <h6>How to make a cheesecake</h6>
                    </a>
                </li>
            </ul>
        </div>

        <div class="widget members wow fadeInRight" data-wow-delay=".4s">
            <h3>Наши пользователи</h3>

            <div id="members-list-options" class="item-options">
                <a href="#">Последние</a>
                <a class="selected" href="#">Активные</a>
                <a href="#">Популярные</a>
            </div>
            <ul class="boxed">
                {% for user in users %}
                    <li>
                        <div class="avatar">
                            <a href="#">
                                {% if user.profile.cover and user.profile.cover.getWebPath %}
                                    <img src="{{ user.profile.cover.getWebPath|imagine_filter('user_avatar_small') }}"
                                         alt=""/>
                                {% else %}
                                    <img src="http://placehold.it/270x270">
                                {% endif %}

                                <span>{{ user.username }}</span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!--
        <div class="widget wow fadeInRight" data-wow-delay=".6s">
            <h3>Advertisment</h3>
            <a href="#"><img src="/images/advertisment.jpg" alt=""/></a>
        </div>
         -->
    </aside>
    <!--//right sidebar-->
    </div>
    <!-- //row -->
    </div>
    <!--//wrap-->

{% endblock %}
