{% macro view(title, text, color, icon, picture) %}
    <div class="ui-notify-message ui-notify-message-style {{ color|default('green') }}" style="">
        <a class="ui-notify-close ui-notify-cross">x</a>
        {% if picture %}
            <div><img src="picture" alt="" /></div>
        {% endif%}
        <h1>
            {% if icon %}
                <i class="icon-{{ icon }}"></i>
            {% endif%}
            {{ title }}
        </h1>
        <p>{{ text }}</p>
    </div>
{% endmacro %}
