{% macro view(idea, divSize, delay) %}
    <div class="entry {{ divSize|default('one-third') }} wow fadeInLeft"
         data-wow-delay=".{{ delay|default('2') }}s">  {#   #}
        <figure>
            {% if idea.cover and idea.cover.getWebPath  %}
                <img src="{{ idea.cover.getWebPath|imagine_filter('idea_cover_list') }}" alt=""/>
            {% else %}
                <img src="http://placehold.it/270x203">
            {% endif %}

            <figcaption><a href="{{ path('view_idea',{id:idea.id}) }}"><i class="ico i-view"></i> <span>{{ 'View'|trans }}</span></a></figcaption>
        </figure>
        <div class="container">
            <h2><a href="{{ path('view_idea',{id:idea.id}) }}">{{ idea.title }}</a></h2>

            <div class="actions">
                <div>
                    {%  set difficulty = {0:'easy',1:'medium',2:'hard'} %}
                    <div class="difficulty"><i class="ico i-{{ difficulty[idea.complexity] }}"></i><a href="#">{{ idea.getComplexityLevel|trans }}</a></div>
                    <!--    <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                    <div class="comments"><i class="ico i-comments"></i><a href="recipe.html#comments">27</a></div> -->
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
