{% macro view(idea) %}
    <div class="recipe">
        <!--two-third-->
        <article class="two-third wow fadeInLeft">
            <div class="image">
                {% if idea.cover and idea.cover.getWebPath %}
                    <img src="{{ idea.cover.getWebPath|imagine_filter('idea_vew') }}"
                         alt=""/>
                {% else %}
                    <img alt="" src="//placehold.it/800x600">
                {% endif %}

            </div>
            <div class="intro">
                <p><strong>{{ idea.title }}</strong></p>

                <p>{{ idea.text }}</p></div>
            <!--   <div class="instructions">
                <ol>
                    <li>Первый этап реализации.</li>
                    <li>Второй этап реализации.</li>
                    <li>Третий этап реализации.</li>
                </ol>
            </div> -->
        </article>
        <!--//two-third-->

        <!--one-third-->
        <article class="one-third wow fadeInDown">
            <dl class="basic">
                <!--  <dt>Время приготовления</dt>
                <dd>15 минут</dd> -->
                <dt>{{ 'Complexity'|trans }}</dt>
                <dd>{{ idea.getComplexityLevel }}</dd>
                <!--  <dt>Порций</dt>
                <dd>4</dd>  -->
            </dl>

            <dl class="user">
                {% for category in idea.categories %}
                    <dt>{{ 'Categoty'|trans }}</dt>
                    <dd>{{ category.name }}</dd>
                {% else %}
                    <dt>{{ 'Categoty'|trans }}</dt>
                    <dd>{{ 'No category'|trans }}</dd>
                {% endfor %}
                <dt>{{ 'Posted by'|trans }}</dt>
                <dd>{{ idea.user.username }}</dd>
                <dt>{{ 'Posted on'|trans }}</dt>
                <dd>{{ idea.createdAt|date('M:d:Y') }}</dd>
            </dl>

            <!--  <dl style="display: none;" class="ingredients">
                <dt>300g</dt>
                <dd>Self-raising flour</dd>
                <dt>200g</dt>
                <dd>Butter</dd>
                <dt>200g</dt>
                <dd>Plain chocolate</dd>
                <dt>2</dt>
                <dd>Eggs</dd>
                <dt>1 tbsp</dt>
                <dd>Vanilla extract</dd>
                <dt>200 g</dt>
                <dd>Brown sugar</dd>
                <dt>100 ml</dt>
                <dd>Double cream</dd>
                <dt>handful</dt>
                <dd>Sprinkles</dd>
            </dl> -->
        </article>
        <!--//one-third-->
    </div>
{% endmacro %}
