 @media (max-width: 1200px){
.fade-notification {
    padding-right: 20px;
    width: auto;
}
.container {
  width: 100%;
  max-width:100%;
}
.top-stats > input{
	width:164px;
}
.sales-charts{
	overflow:hidden;
}
.tasks a i {
    line-height: 21px;
}
.activity-details > h3{
	margin-bottom:7px;
}
.social-details > p{
	width:auto;
}
.welcome-user > p{
	display:none;
}
.alert {
    float: left;
    width: 100%;
}
.responsive-menu{
	display:block;
}
header {
	display:none;
}
.main-section {
    width: 100%;
}
.responsive-logo{
	display:block;
}
.responsive-menu-dropdown{
	display:none;
}
}

@media (min-width: 768px) and (max-width: 980px) {
.container {
   width: 100%;
  max-width:100%;
}
.top-stats > input{
	width:165px;
}
.fade-notification {
    padding-right: 20px;
	width:auto;
}
header {
	display:none;
}
.main-section {
    background: none repeat scroll 0 0 #FCFCFC;
    float: right;
    position: relative;
    width: 100%;
}

.welcome-user > img{
	padding:10px;
}
.side-navigation li a{
padding:10px 15px;
}
.social-statistics{
	display:none;
}
.new-files{
	display:none;
}
.side-navigation ul li ul li {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px dashed #BBBBBB;
    border-left: 1px dashed #BBBBBB;
    width: 50%;
	padding:11px 0;
}
.side-navigation ul li ul li a {
    font-size: 11px;
    padding: 0;
    text-align: center;
}
.side-navigation ul li ul li a i {
    padding: 0;
    text-align: center;
    width: 100%;
}
.alert {
    float: left;
    width: 100%;
}
.responsive-menu{
	display:block;
}
.responsive-logo{
	display:block;
}
.responsive-menu-dropdown{
	display:none;
}


}

@media (max-width: 767px) {
.container {
   width: 100%;
  max-width:100%;
}
.main-section {
    width: 100%;
}
.notification-slideshow {
    float: right;
    margin-left: 20px;
}
.alert{
	float:left;
	width:100%;
}
.ribbon-sec{
	width:100%;
}
.top-stats-icons{
	display:none;
}
.fade-notification h5{
	padding:20px 0 20px 15px;
 }
 .fade-notification {
	padding-right:0;
 }
.carousel{
	width:100%;
}
.top-stats{
	height:auto;
}
.breadcrumbs-notify{
	height:auto;
}
.search-domain,
.search-domain > i,
.search-domain > input,
.search-domain select,
.search-domain a{
	float:none;
	display:table;
	margin:0 auto;
}
.search-domain select{
	margin:10px auto;
}
.responsive-menu{
	display:block;
}
header{
	display:none;
}
.responsive-logo{
	display:block;
}
.fade-notification {
    display: table;
    margin: 0 auto;
    padding-right: 0;
    width: 100%;
}
.notification-slideshow {
    display: table;
    float: none;
    margin: 0 auto;
    width: 100%;
}
.notification-slideshow h6 {
    text-align: center;
    width: 100%;
}
.fade-notification > h5 {
    display: table;
    float: none;
    margin: 0 auto;
}
.notification-auto {
    width:100%;
}

.top-bar-chart {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 13px 0;
}
#current-sales {
    display: table;
    float: none;
    margin: 0 auto 0 2px;
    padding: 8px 0 0;
    width: 100%;
}
.responsive-menu-dropdown{
	display:none;
}
}

@media (max-width: 480px)  {

.container {
   width: 100%;
  max-width:100%;
}
.top-stats > input {
    width: 88%;
}
header {
    left: -220px;
    position: fixed;
    transition: all 0.4s ease 0s;
    width: 220px;
    z-index: 111;
	min-height:2000px;
	background:none repeat scroll 0 0 #eaeaea;
}
header:hover {
    left: 0;
}
.welcome-user > img {
    float: left;
    width: 32%;
}
.side-navigation li a{
padding:10px 15px;
}
.social-statistics{
	display:none;
}
.new-files{
	display:none;
}
.side-navigation ul li ul li {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px dashed #BBBBBB;
    border-left: 1px dashed #BBBBBB;
    width: 50%;
	padding:8px 0;
}
.side-navigation ul li ul li a {
    font-size: 12px;
    padding: 0;
    text-align: center;
}
.side-navigation ul li ul li a i {
    padding: 0;
    text-align: center;
    width: 100%;
}
.welcome-user > p{
	display:none;
}
.welcome-user > span {
    float: left;
    padding: 26px 0;
    width: auto;
}
.slide-up-btn {
    display: block;
    z-index: 111;
}
.main-section {
    background: none repeat scroll 0 0 #FCFCFC;
    float: right;
    position: relative;
    width: 100%;
}
.top-stats{
	height:auto;
}
.top-bar-chart {
    float: left;
    padding: 13px 20px;
    width: 100%;
	margin: 0;
}
#new-orders {
    float: right;
    padding: 0;
}
#my-balance {
    float: right;
    padding: 0;
}
.breadcrumbs-notify{
	height:auto;
}

.top-stats-icons{
	display:none;
}
.main-bg{
	width:100%;
}
.alert{
	float:left;
	width:100%;
}
.font-group > li{
	width:50%;
}
.vat{
	display:none;
}
.description{
	display:none;
}
.invoice-number, .date, .quantity, .total{
	width:25%;
}
.error-area h2{
	line-height:42px;
}
.error-area h3{
	line-height:33px;
}
.search input{
	width:160px;
}
.search {
    display: table;
    float: none;
    margin: 0 auto;
    padding: 7px;
	width:auto;
}
.search-thumb{
	width:100%;
}
.search-thumb > img {
    display: table;
    margin: 0 auto 10px;
}
.search-details > h3{
	text-align:center;
	line-height:25px;
}
.search-details > p{
	text-align:center;
}
.search-details{
	width:100%;
}
#pricing-table .plan{
	width:100%;
	margin-bottom:15px;
}
#pricing-table #most-popular{
	top:0;
}
.inbox-buttons-sec{
	width:100%;
}
.inbox-details{
	width:100%;
}

.read-message {
    padding: 0 20px;
    width: 100%;
}
.fc-header-left {
    display: table;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: auto;
}
.fc-header-right {
    display: table;
    float: none;
    margin: 0 auto;
    text-align: left;
    width: auto;
}
.ui-notify-message{
	display:none;
}
#live-chat{
	width:250px;
}
#live-chat h5{
	line-height:20px;
	margin-bottom:0;
}
.side-navigation{
	display:none;
}
.responsive-menu ul{
	display:none;
}
.responsive-logo{
	display:block;
}
.responsive-menu > ul {
    width: 100%;
}
.top-stats > i{
	display:none;
}
.top-stats > input{
	background: none repeat scroll 0 0 #151515;
	width: 100%;
}
.heading-buttons {
    margin-top: 30px;
    width: 100%;
}
.responsive-menu-dropdown{
	display:block;
}
}