{% extends "IdeaFlowAdminBundle::layout.html.twig" %}
  {% block notify %}
      {% import "IdeaFlowAdminBundle:Notify:view.html.twig" as notify %}
      {{ notify.view('test','Test message','green','cogs') }}
  {% endblock %}
{% block content %}
    <div class="heading-buttons-sec">
        <h1>Dashboard</h1>
        <p>Good Morning Lara Smith!!</p>
        <div class="heading-buttons">
            <ul>
                <li class="dropdown heading-dropdown">
                    <a href="#" data-toggle="dropdown" role="button" id="drop1">Dropdown <b class="caret"></b></a>
                    <ul aria-labelledby="drop1" role="menu" class="dropdown-menu" id="menu1">
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <a href="#" title=""><i class="icon-paper-clip"></i></a><a href="#" title=""><i class="icon-calendar"></i></a><a href="#" title=""><i class="icon-envelope"></i></a><a href="#" title=""><i class="icon-refresh"></i></a>
        </div>
    </div>

    <div class="col-md-3" id="intro2">
        <div class="widget-body">
            <div class="widget-heading blue">
                <i class="icon-bolt pull-left"></i><h3 class="pull-left">Online Visitors</h3>
                <ul>
                    <li class="dropdown panel-function">
                        <a href="#" data-toggle="dropdown" role="button" id="drop2"> <b class="caret"></b></a>
                        <ul aria-labelledby="drop2" role="menu" class="dropdown-menu" id="menu2">
                            <li role="presentation"><a class="hide-btn" title="">-</a></li>
                            <li role="presentation"><a class="close-sec" title="">x</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget-sec">
                <div class="circle-sta" >
                    <div class="visitor chart-bg" data-percent="73">
                        <span></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, co
                        ns ectetuer.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" id="intro3">
        <div class="widget-body">
            <div class="widget-heading red">
                <i class="icon-time pull-left"></i><h3 class="pull-left">Returning Visitors</h3>
                <ul>
                    <li class="dropdown panel-function">
                        <a href="#" data-toggle="dropdown" role="button" id="drop3"> <b class="caret"></b></a>
                        <ul aria-labelledby="drop3" role="menu" class="dropdown-menu" id="menu3">
                            <li role="presentation"><a class="hide-btn" title="">-</a></li>
                            <li role="presentation"><a class="close-sec" title="">x</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget-sec">
                <div class="circle-sta" >
                    <div class="returning-visitor chart-bg" data-percent="73">
                        <span></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, co
                        ns ectetuer.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="widget-body">
            <div class="widget-heading purple">
                <i class="icon-signal pull-left"></i><h3 class="pull-left">Live Visitors Statistics</h3>
                <ul>
                    <li class="dropdown panel-function">
                        <a href="#" data-toggle="dropdown" role="button" id="drop4"> <b class="caret"></b></a>
                        <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu4">
                            <li role="presentation"><a class="hide-btn" title="">-</a></li>
                            <li role="presentation"><a class="close-sec" title="">x</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget-sec no-padding" >
                <div id="flot-placeholder"></div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="add-post">
            <textarea placeholder="Your Search Here" class="form-control" ></textarea>
            <div class="choose-post">
                <a href="#" title=""><i class="icon-location-arrow"></i></a><a href="#" title=""><i class="icon-microphone"></i></a><a href="#" title=""><i class="icon-camera"></i></a><a href="#" title=""><i class="icon-cloud-upload"></i></a>
                <input type="submit" class="submit blue" value="Post" />

            </div>
        </div>
    </div>


    <div class="col-md-5">
        <div class="current-sales">
            <div class="sales-charts green">
                <span>$5,580</span>
                <p>+1.05(21.9 %)</p>
                <strong>FRIDAY</strong>
                <span id="current-sales" class="sparkline">4,5,6,7,6,5,4,5,6,7,8,9,10,9,8,7,6,5,4,5,6,7,8</span>
            </div>
            <div class="sales-details">
                <p>Sale in June</p>
                <span style="color:#71C633;">$250,582.00</span>
                <p>From Market</p>
                <span style="color:#959595;">$2,505</span>
                <a href="#" title="" class="green">View All</a>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="widget-body">
            <div class="widget-heading gray">
                <i class="icon-tasks pull-left"></i><h3 class="pull-left">Task in Progress</h3>
                <ul>
                    <li class="dropdown panel-function">
                        <a href="#" data-toggle="dropdown" role="button" id="drop5"> <b class="caret"></b></a>
                        <ul aria-labelledby="drop5" role="menu" class="dropdown-menu" id="menu5">
                            <li role="presentation"><a class="hide-btn" title="">-</a></li>
                            <li role="presentation"><a class="close-sec" title="">x</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget-sec">
                <div class="tasks">
                    <ul>
                        <li>
                            <a href="" class="gray"><i class="icon-refresh"></i></a><h5>Update Jquery</h5><span class="gray">34%</span>
                            <div class="progress">
                                <div style="width: 34%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success gray small-progress">
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="" class="gray"><i class="icon-refresh"></i></a><h5>Update Awesome Font</h5><span class="gray">66%</span>
                            <div class="progress">
                                <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success gray small-progress">
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="" class="gray"><i class="icon-refresh"></i></a><h5>Update Jquery</h5><span class="gray">86%</span>
                            <div class="progress">
                                <div style="width: 86%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success gray small-progress">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-7">
        <div class="widget-body">
            <div class="widget-heading orange">
                <i class="icon-cog pull-left"></i><h3 class="pull-left">Recent Activity</h3>
                <ul>
                    <li class="dropdown panel-function">
                        <a href="#" data-toggle="dropdown" role="button" id="drop6"> <b class="caret"></b></a>
                        <ul aria-labelledby="drop6" role="menu" class="dropdown-menu" id="menu6">
                            <li role="presentation"><a class="hide-btn" title="">-</a></li>
                            <li role="presentation"><a class="close-sec" title="">x</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget-sec">
                <div id="content_1" class="recent-activity content">
                    <ul>
                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>

                        <li>
                            <div class="activity-thumb">
                                <img src="/images/user2.jpg" alt="" />
                            </div>
                            <div class="activity-details">
                                <h3>Bootstrap 3.0 is coming</h3>
                                <span>Lava Smith</span>
                                <i class="gray">Circle</i>
                                <p>Dnim eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia aute, non cupidatat </p>
                            </div>
                            <div class="time-activity">
                                <span>12:18</span>
                                <p>pm</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6" id="intro4">
        <div class="widget-body">
            <div class="widget-heading purple">
                <i class="icon-globe pull-left"></i><h3 class="pull-left">Popularity By Map</h3>
                <ul>
                    <li class="dropdown panel-function">
                        <a href="#" data-toggle="dropdown" role="button" id="drop7"> <b class="caret"></b></a>
                        <ul aria-labelledby="drop7" role="menu" class="dropdown-menu" id="menu7">
                            <li role="presentation"><a class="hide-btn" title="">-</a></li>
                            <li role="presentation"><a class="close-sec" title="">x</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget-sec">
                <div id="chart_div" style="width: 100%; height: 310px;"></div>
                <div class="map-table">
                    <h3>Country</h3><h4>Visits</h4>
                    <ul>
                        <li><span>United Stats</span><i>23900</i></li>
                        <li><span>Brazil</span><i>23900</i></li>
                        <li><span>Russia</span><i>15890</i></li>
                        <li><span>France</span><i>98001</i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="widget-body">
            <div class="widget-heading green">
                <i class="icon-calendar pull-left"></i><h3 class="pull-left">Event Calendar</h3>
                <ul>
                    <li class="dropdown panel-function">
                        <a href="#" data-toggle="dropdown" role="button" id="drop8"> <b class="caret"></b></a>
                        <ul aria-labelledby="drop8" role="menu" class="dropdown-menu" id="menu8">
                            <li role="presentation"><a class="hide-btn" title="">-</a></li>
                            <li role="presentation"><a class="close-sec" title="">x</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="widget-sec no-padding">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
{% endblock %}


