{% macro favourite_buttons(idea,isFavorite) %}
    <div class="widget share">
        <ul class="boxed">
            <li class="light"><a href="#" title="Facebook"><i class="ico i-facebook"></i> <span>Share on Facebook</span></a>
            </li>
            <li class="medium"><a href="#" title="Twitter"><i class="ico i-twitter"></i>
                    <span>Share on Twitter</span></a></li>
            {% if isFavorite %}
                <li class="dark"><a href="{{ path('remove_favourite_idea',{id:idea.id}) }}" title="Favourites"><i
                                class="ico i-favourites"></i> <span>{{ 'Remove favorite'|trans }}</span></a></li>
            {% else %}
                <li class="dark"><a href="{{ path('add_favourite_idea',{id:idea.id}) }}" title="Favourites"><i
                                class="ico i-favourites"></i> <span>{{ 'Add favorite'|trans }}</span></a></li>
            {% endif %}

        </ul>
    </div>
{% endmacro %}

