<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.ico?v=1.1">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% stylesheets

    'bundles/ideaflowapp/css/style.css'
    '//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800'
    'bundles/ideaflowapp/css/animate.css'
    'bundles/ideaflowapp/css/additional.css'
    'bundles/ideaflowapp/vendor/components-font-awesome/css/font-awesome.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" style="">

    <!--header-->
    <header class="head" role="banner">
        <!--wrap-->
        <div class="wrap clearfix">
            <a href="{{ path('homepage') }}" title="SocialChef" class="logo">
                <h1 style="font-family: 'Pacifico';font-size:42px;">Idea<span style="color:#000000">Flow</span></h1>
            </a>
            <!-- Main navigation -->
            {{ knp_menu_render('mainMenu', {'template':'IdeaFlowAppBundle:Navigation:mainMenu.html.twig'}) }}
            <!-- User navigation -->
            {{ knp_menu_render('userMenu', {'template':'IdeaFlowAppBundle:Navigation:userMenu.html.twig'}) }}

        </div>
        <!--//wrap-->
    </header>
    <!--//header-->

    <main class="main" role="main">

        <!-- messages -->
        <div class="row">
            <div class="one-half wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div role="alert" class="alert alert-success">
                            <button class="close">x</button>{{ flashMessage }}</div>
                    {% endfor %}
            </div>
        </div>
        <!-- end messages -->

        {% block content %}
        {% endblock %}
    </main>
    <!--//main-->


    <!--footer-->
    <footer class="foot" role="contentinfo">
        <div class="wrap clearfix">
            <div class="row">
                <article class="one-half">
                    <h5>Как это работает?</h5>

                    <p>Вступительный текст.</p>
                    <a href="#">Подробнее</a>
                </article>
                <article class="one-fourth">
                    <h5>По вопросам сотрудничества и рекламы</h5>

                    <p>Свяжитесь с нами по email или телефону</p>

                    <p><em>T:</em> +380(097)-384-9801<br/><em>E:</em> <a href="#">advert@ideaflow.club</a></p>
                </article>
                <article class="one-fourth">
                    <h5>Follow us</h5>
                    <ul class="social">
                        <li class="facebook"><a href="#" title="facebook">facebook</a></li>
                        <li class="youtube"><a href="#" title="youtube">youtube</a></li>
                        <li class="rss"><a href="#" title="rss">rss</a></li>
                        <li class="gplus"><a href="#" title="gplus">google plus</a></li>
                        <li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
                        <li class="twitter"><a href="#" title="twitter">twitter</a></li>
                        <li class="pinterest"><a href="#" title="pinterest">pinterest</a></li>
                        <li class="vimeo"><a href="#" title="vimeo">vimeo</a></li>
                    </ul>
                </article>

                <div class="bottom">
                    <p class="copy">{{ 'Copyright 2014 IdeaFlow. All rights reserved'|trans }}</p>
                    {{ knp_menu_render('footerMenu', {'template':'IdeaFlowAppBundle:Navigation:footerMenu.html.twig'}) }}
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->
    <!--preloader-->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!--//preloader-->

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Admin part -->
    {% endif %}

    {% javascripts
    'bundles/ideaflowapp/js/jquery-1.11.1.min.js'
    'bundles/ideaflowapp/js/jquery.uniform.min.js'
    'bundles/ideaflowapp/js/wow.min.js'
    'bundles/ideaflowapp/js/jquery.slicknav.min.js'
    'bundles/ideaflowapp/js/scripts.js'
    filter='cssrewrite' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        window.dynamicNumbersBound = false;
        var wow = new WOW();
        WOW.prototype.show = function (box) {
            wow.applyStyle(box);
            if (typeof box.parentNode !== 'undefined' && hasClass(box.parentNode, 'dynamic-numbers') && !window.dynamicNumbersBound) {
                bindDynamicNumbers();
                window.dynamicNumbersBound = true;
            }
            return box.className = "" + box.className + " " + wow.config.animateClass;
        };
        wow.init();

        function hasClass(element, cls) {
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }

        function bindDynamicNumbers() {
            $('.dynamic-number').each(function () {
                var startNumber = $(this).text();
                var endNumber = $(this).data('dnumber');
                var dynamicNumberControl = $(this);

                $({numberValue: startNumber}).animate({numberValue: endNumber}, {
                    duration: 4000,
                    easing: 'swing',
                    step: function () {
                        $(dynamicNumberControl).text(Math.ceil(this.numberValue));
                    }
                });
            });
        }

    </script>
    <script type="text/javascript">

        function getParameterByName(name,url) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(url);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        jQuery(document).ready(function () {
            setTimeout(function(){
                $('.alert').hide('slow');
            },2000);


            $('#recipes').on('click','.pager a',function(event){
              //  $(".pager").html("Cagando comentarios...");
                event.preventDefault();
                var page = getParameterByName('page',$(this).attr('href'));
                $.get('/user/ideas/?page='+page, function(data) {
                    $('#recipes').html(data);
                });
                return false;

            });

            $('#favorites').on('click','.pager a',function(event){
              //  $(".pager").html("Cagando comentarios...");
                event.preventDefault();
                var page = getParameterByName('page',$(this).attr('href'));
                $.get('/user/ideasFavourite/?page='+page, function(data) {
                    $('#favorites').html(data);
                });
                return false;
            });
        });
        // setup an "add a tag" link
        /*  var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
         var $newLinkLi = $('<li></li>').append($addTagLink);

         jQuery(document).ready(function() {
         // Get the ul that holds the collection of tags
         var $collectionHolder = $('ul.collection');

         // add the "add a tag" anchor and li to the tags ul
         $collectionHolder.append($newLinkLi);

         // count the current form inputs we have (e.g. 2), use that as the new
         // index when inserting a new item (e.g. 2)
         $collectionHolder.data('index', $collectionHolder.find(':input').length);

         $addTagLink.on('click', function(e) {
         // prevent the link from creating a "#" on the URL
         e.preventDefault();

         // add a new tag form (see code block below)
         addTagForm($collectionHolder, $newLinkLi);
         });


         });

         function addTagForm($collectionHolder, $newLinkLi) {
         // Get the data-prototype explained earlier
         var prototype = $collectionHolder.data('prototype');

         // get the new index
         var index = $collectionHolder.data('index');

         // Replace '$$name$$' in the prototype's HTML to
         // instead be a number based on how many items we have
         var newForm = prototype.replace(/__name__/g, index);

         // increase the index with one for the next item
         $collectionHolder.data('index', index + 1);

         // Display the form in the page in an li, before the "Add a tag" link li
         var $newFormLi = $('<li></li>').append(newForm);

         // also add a remove button, just for this example
         $newFormLi.append('<a href="#" class="remove-tag">x</a>');

         $newLinkLi.before($newFormLi);

         // handle the removal, just for this example
         $('.remove-tag').click(function(e) {
         e.preventDefault();

         $(this).parent().remove();

         return false;
         });
         }
         */
    </script>
</body>
</html>
