{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Login'|trans }}{% endblock %}

{% block content %}
<div class="wrap clearfix">
    <!--row-->
    <div class="row">
        <!--content-->
        <section class="content center full-width wow fadeInUp">
            <div class="modal container">
                <h2 class="bordered light">{{ 'Sign up'|trans }} </h2>
                {% form_theme signupForm 'IdeaFlowUserBundle:Form:fields.html.twig' %}

               {{ form(signupForm) }}
                <b>Or use social network:</b>
                <ul class="">
                    <li><a href="http://localhost:90/connect/facebook"><i
                                    class="fa fa-facebook"></i>{{ 'Sign up with FB'|trans }}</a></li>
                </ul>
            </div>
        </section>
    </div>
    {% endblock %}


