{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Login'|trans }}{% endblock %}

{% block content %}
<div class="wrap clearfix">
    <!--row-->
    <div class="row">
        <!--content-->
        <section class="content center full-width wow fadeInUp">
            <div class="modal container">
                <h2 class="bordered light">{{ 'Login'|trans }} </h2>
                {% if error %}
                    <div role="alert" class="alert alert-danger">
                        <button class="close">x</button>
                        {{ error.message }}.
                    </div>
                {% endif %}
                {% form_theme loginForm 'IdeaFlowUserBundle:Form:fields.html.twig' %}
                {{ form(loginForm) }}
                <h3>{{ 'No account?'|trans }} - <a href="{{ path('_user_signup') }}">{{ 'Sign up'|trans }}</a></h3>
                <b>{{ 'Or use social network'|trans }}:</b>
                <ul class="">
                    <li><a href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}"><i
                                    class="fa fa-facebook"></i> {{ 'Login with FB'|trans }}</a></li>
                    {# <li><a href="{{ url("hwi_oauth_service_redirect", {service: "twitter"}) }}"><i class="fa fa-twitter"></i> Login with Twitter</a></li> #}
                </ul>
            </div>
        </section>
    </div>

    {% endblock %}

