{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Search for idea'|trans }}{% endblock %}

{% block content %}
    <!--wrap-->
    <div class="wrap clearfix">
    <!--breadcrumbs-->
    <nav class="breadcrumbs">
        <ul>
            <li><a href="index-2.html" title="Home">Home</a></li>
            <li>{{ 'Search for idea'|trans }}</li>
        </ul>
    </nav>
    <!--//breadcrumbs-->

    <!--row-->
    <div class="row">
    <header class="s-title wow fadeInLeft">
        <h1>Search for Recipes</h1>
    </header>

    <!--content-->
    <section class="content full-width wow fadeInUp">
    <!--recipefinder-->
    <div class="container recipefinder">
        <div class="left">
            <h3>Search by ingredients</h3>
            <p>Click the ‘-’ to remove an ingredient, or click the ingredient itself to emphasize</p>
            <div class="f-row">
                <input type="text" placeholder="Add ingredients (one at a time)" />
                <button class="add">+</button>
            </div>
            <div class="f-row">
                <input type="text" value="garlic" />
                <button class="remove">-</button>
            </div>
            <div class="f-row">
                <input type="submit" value="Search" />
            </div>
        </div>
        <div class="right">
            <div class="ingredients">
                <h3>Do you also have?</h3>
                <a href="#" class="button gold">Olive oil</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a><a href="#" class="button gold">Olive oil</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a><a href="#" class="button gold">Olive oil</a><a href="#" class="button gold">Parsley</a><a href="#" class="button gold">Tomato</a>
            </div>

            <h3>Or you might want to search directly</h3>
            <div class="row">
                <div class="search one-half">
                    <input type="search" placeholder="Find recipe by name" />
                    <input type="submit" value="Search" />
                </div>

                <div class="one-half">
                    <select>
                        <option>or select a category</option>
                        <option>Apetizers</option>
                        <option>Cocktails</option>
                        <option>Deserts</option>
                        <option>Main courses</option>
                        <option>Snacks</option>
                        <option>Soups</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!--//recipefinder-->

    <!--results-->
    <div class="entries row">
        {% import "IdeaFlowIdeaBundle:Idea:preview.html.twig" as ideaMacro %}
        {% for idea in ideas %}
            {{ ideaMacro.view(idea,'one-fourth') }}
        {% endfor %}
        <!--item-->

        {% if ideas and ideas is not empty %}
            <div class="quicklinks">
                {{ knp_pagination_render(ideas) }}
                <a href="javascript:void(0)" class="button scroll-to-top">Наверх</a>
            </div>
        {% endif %}
    </div>
    <!--//results-->
    </section>
    <!--//content-->
    </div>
    <!--//row-->
    </div>
    <!--//wrap-->
{% endblock %}


