<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.ico?v=1.1">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% stylesheets

    'bundles/ideaflowapp/css/style.css'
    '//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800'
    'bundles/ideaflowapp/css/animate.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" style="">

    <!--header-->
    <header class="head" role="banner">
        <!--wrap-->
        <div class="wrap clearfix">
            <a href="index-2.html" title="SocialChef" class="logo"><img src="images/ico/logo.png"
                                                                        alt="SocialChef logo"/></a>

            <nav class="main-nav" role="navigation" id="menu">
                <ul>
                    <li class="current-menu-item"><a href="{{ path('homepage') }}" title="Главная"><span>Главная</span></a></li>
                    <li><a href="recipes.html" title="Идеи"><span>Идеи</span></a></li>
                    <li><a href="blog.html" title="Как это работает?"><span>Как это работает?</span></a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}" title="Регистрация"><span>Регистрация</span></a></li>
                    <li><a href="{{ path('fos_user_security_login') }}" title="Войти"><span>Войти</span></a></li>
                </ul>
            </nav>

            <nav class="user-nav" role="navigation">
                <ul>
                    <li class="light"><a href="find_recipe.html" title="Искать идеи"><i class="ico i-search"></i> <span>Искать идеи</span></a>
                    </li>
                    <li class="medium"><a href="my_profile.html" title="Личный кабинет"><i class="ico i-account"></i>
                            <span>Личный кабинет</span></a></li>
                    <li class="dark"><a href="submit_recipe.html" title="Добавить идею"><i
                                    class="ico i-submitrecipe"></i> <span>Добавить идею</span></a></li>
                </ul>
            </nav>
        </div>
        <!--//wrap-->
    </header>
    <!--//header-->

    <main class="main" role="main">
        {% block content %}
        {% endblock %}
    </main>
    <!--//main-->

    <!--call to action-->
    <section style="display: none;" class="cta">
        <div class="wrap clearfix">
            <a href="login.html" class="button big white right">Purchase theme</a>

            <h2>Already convinced? This is a call to action section lorem ipsum dolor sit amet.</h2>
        </div>
    </section>
    <!--//call to action-->

    <!--footer-->
    <footer class="foot" role="contentinfo">
        <div class="wrap clearfix">
            <div class="row">
                <article class="one-half">
                    <h5>Как это работает?</h5>

                    <p>Вступительный текст.</p>
                    <a href="#">Подробнее</a>
                </article>
                <article class="one-fourth">
                    <h5>По вопросам сотрудничества и рекламы</h5>

                    <p>Свяжитесь с нами по email или телефону</p>

                    <p><em>T:</em> +380(097)-384-9801<br/><em>E:</em> <a href="#">advert@ideaflow.club</a></p>
                </article>
                <article class="one-fourth">
                    <h5>Follow us</h5>
                    <ul class="social">
                        <li class="facebook"><a href="#" title="facebook">facebook</a></li>
                        <li class="youtube"><a href="#" title="youtube">youtube</a></li>
                        <li class="rss"><a href="#" title="rss">rss</a></li>
                        <li class="gplus"><a href="#" title="gplus">google plus</a></li>
                        <li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
                        <li class="twitter"><a href="#" title="twitter">twitter</a></li>
                        <li class="pinterest"><a href="#" title="pinterest">pinterest</a></li>
                        <li class="vimeo"><a href="#" title="vimeo">vimeo</a></li>
                    </ul>
                </article>

                <div class="bottom">
                    <p class="copy">Copyright 2014 IdeaFlow. All rights reserved</p>

                    <nav class="foot-nav">
                        <ul>
                            <li><a href="index-2.html" title="Главная">Главная</a></li>
                            <li><a href="recipes.html" title="Идеи">Идеи</a></li>
                            <li><a href="blog.html" title="Как это работает?">Как это работает?</a></li>
                            <li><a href="contact.html" title="Личный кабинет">Личный кабинет</a></li>
                            <li><a href="find_recipe.html" title="Искать идеи">Искать идеи</a></li>
                            <li><a href="login.html" title="Войти">Войти</a></li>
                            <li><a href="register.html" title="Регистрация">Регистрация</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->
    <!--preloader-->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!--//preloader-->

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Admin part -->
    {% endif %}

    {% javascripts
    'bundles/ideaflowapp/js/jquery-1.11.1.min.js'
    'bundles/ideaflowapp/js/jquery.uniform.min.js'
    'bundles/ideaflowapp/js/wow.min.js'
    'bundles/ideaflowapp/js/jquery.slicknav.min.js'
    'bundles/ideaflowapp/js/scripts.js'
    filter='cssrewrite' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        window.dynamicNumbersBound = false;
        var wow = new WOW();
        WOW.prototype.show = function (box) {
            wow.applyStyle(box);
            if (typeof box.parentNode !== 'undefined' && hasClass(box.parentNode, 'dynamic-numbers') && !window.dynamicNumbersBound) {
                bindDynamicNumbers();
                window.dynamicNumbersBound = true;
            }
            return box.className = "" + box.className + " " + wow.config.animateClass;
        };
        wow.init();

        function hasClass(element, cls) {
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }

        function bindDynamicNumbers() {
            $('.dynamic-number').each(function () {
                var startNumber = $(this).text();
                var endNumber = $(this).data('dnumber');
                var dynamicNumberControl = $(this);

                $({numberValue: startNumber}).animate({numberValue: endNumber}, {
                    duration: 4000,
                    easing: 'swing',
                    step: function () {
                        $(dynamicNumberControl).text(Math.ceil(this.numberValue));
                    }
                });
            });
        }

    </script>
</body>
</html>
