<nav class="main-nav" role="navigation" id="menu">
    <ul>
        {% for menu, value in item.children %}
            {% set active = false %}
            {% if(value.uri == app.request.requestUri or (value.uri in app.request.requestUri
                                                    and value.uri != '/' )) %}

                {% set active = true %}
            {% endif %}
            <li class="{{ (active == true )? ' current-menu-item':'' }}">
                <a href="{{ value.uri }}" title="{{ menu|trans }}"><span>{{ menu|trans }}</span></a>
            </li>
        {% endfor %}
    </ul>
</nav>
