<nav class="user-nav" role="navigation">
    <ul>
        {% set color=['light','medium','dark'] %}
        {% for menu, value in item.children %}
            {% set active = false %}
            {% if(value.uri == app.request.requestUri) %}

                {% set active = true %}
            {% endif %}
            <li class="{{ color[loop.index-1] }}">
                <a href="{{ value.uri }}" title="{{ menu|trans }}">
                    {% if value.attribute('icon') is not empty %}
                    <i class="ico {{ value.attribute('icon') }}"></i>
                    {% endif %}
                    <span>{{ menu|trans }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

