<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="/images/favicon.ico?v=1.1">
<title>
    {% block title %}
    {% endblock %}
</title>


<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,900,800,700,600,500,400,300,200' rel='stylesheet'
      type='text/css'>
<!-- Google Fonts -->


{% stylesheets
'bundles/ideaflowadmin/css/bootstrap.css'
'bundles/ideaflowadmin/css/fullcalendar.css'
'bundles/ideaflowadmin/css/fullcalendar.print.css'
'bundles/ideaflowadmin/css/jquery.mCustomScrollbar.css'
'bundles/ideaflowadmin/font-awesome/css/font-awesome.css'
'bundles/ideaflowadmin/css/style.css'
'bundles/ideaflowadmin/css/responsive.css'
filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% javascripts
'//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
'bundles/ideaflowadmin/js/jquery.mCustomScrollbar.concat.min.js'
'//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'
'bundles/ideaflowadmin/js/bootstrap.js'
'bundles/ideaflowadmin/js/script.js'
'bundles/ideaflowadmin/js/tcal.js'
'bundles/ideaflowadmin/js/jquery.sparkline.min.js'
'bundles/ideaflowadmin/js/jquery-ui.custom.min.js'
'bundles/ideaflowadmin/js/fullcalendar.min.js'
'bundles/ideaflowadmin/js/jquery.easypiechart.min.js'
'//xoxco.com/projects/code/tagsinput/jquery.tagsinput.js'
'bundles/ideaflowadmin/js/jquery.nicescroll.min.js'
'bundles/ideaflowadmin/js/intro.js'
'bundles/ideaflowadmin/js/header-line-chart.js'
'bundles/ideaflowadmin/js/jquery.flot.min.js'
'bundles/ideaflowadmin/js/flot-chart-header.js'
'bundles/ideaflowadmin/js/flot-jquery-header.js'
'bundles/ideaflowadmin/js/side-navigation-tag.js'
filter='cssrewrite' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<!-- Google Map-->
<script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['geochart']});
    google.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
            ['Country', 'Popularity'],
            ['Germany', 200],
            ['United States', 300],
            ['Brazil', 400],
            ['Canada', 500],
            ['France', 600],
            ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
    ;
</script>


<!-- Custom Scroll- -->
<script>
    (function ($) {
        $(window).load(function () {
            $("#content_1").mCustomScrollbar({
                scrollButtons: {
                    enable: true
                }
            });
        });
    })(jQuery);
</script>


<!-- Sparklines -->
<script type="text/javascript">
    $(function () {
        $("#new-orders").sparkline([4, 5, 6, 7, 6, 5, 4, 3, 2, 2, 3, 4], {
            type: 'bar',
            height: '40px',
            barSpacing: 3,
            barWidth: 6,
            barColor: '#ff4646',
            negBarColor: '#D6A838'
        });
    });

    $(function () {
        $("#my-balance").sparkline([4, 5, 6, 7, 6, 5, 4, 3, 2, 2, 3, 4], {
            type: 'bar',
            height: '40px',
            barSpacing: 3,
            barWidth: 6,
            barColor: '#21b95e',
            negBarColor: '#27A9E3'
        });
    });

    $(function () {
        $("#current-sales").sparkline([4, 5, 6, 7, 6, 5, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 5, 6, 7, 8], {
            type: 'bar',
            height: '100px',
            barSpacing: 3,
            barWidth: 6,
            barColor: '#92cf5c',
            negBarColor: '#35AA47'
        });
    });
</script>


<!-- Full Calendar -->
<script>

    $(document).ready(function () {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
            selectHelper: true,
            select: function (start, end, allDay) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                    );
                }
                calendar.fullCalendar('unselect');
            },
            editable: true,
            events: [
                {
                    title: 'All Day Event',
                    start: new Date(y, m, 1)
                },
                {
                    title: 'Long Event',
                    start: new Date(y, m, d - 5),
                    end: new Date(y, m, d - 2)
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d - 3, 16, 0),
                    allDay: false
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: new Date(y, m, d + 4, 16, 0),
                    allDay: false
                },
                {
                    title: 'Meeting',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                },
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                },
                {
                    title: 'Birthday Party',
                    start: new Date(y, m, d + 1, 19, 0),
                    end: new Date(y, m, d + 1, 22, 30),
                    allDay: false
                },
                {
                    title: 'Click for Google',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://google.com/'
                }
            ]
        });

    });

</script>

<!-- Easy Pie Chart -->
<script type="text/javascript">
    $(function () {
        //create instance
        $(".visitor").easyPieChart({animate: 2000});
        setTimeout(function () {
            $(".visitor").data("easyPieChart").update(50)
        }, 5000);
        setTimeout(function () {
            $(".visitor").data("easyPieChart").update(70)
        }, 10000);
        setTimeout(function () {
            $(".visitor").data("easyPieChart").update(30)
        }, 15000);
        setTimeout(function () {
            $(".visitor").data("easyPieChart").update(90)
        }, 19000);
        setTimeout(function () {
            $(".visitor").data("easyPieChart").update(40)
        }, 32000)

        $(".returning-visitor").easyPieChart({animate: 2000});
        setTimeout(function () {
            $(".returning-visitor").data("easyPieChart").update(78)
        }, 5000);
        setTimeout(function () {
            $(".returning-visitor").data("easyPieChart").update(67)
        }, 10000);
        setTimeout(function () {
            $(".returning-visitor").data("easyPieChart").update(84)
        }, 15000);
        setTimeout(function () {
            $(".returning-visitor").data("easyPieChart").update(23)
        }, 19000);
        setTimeout(function () {
            $(".returning-visitor").data("easyPieChart").update(40)
        }, 32000)
    });
</script>
</head>
<body>
<div id="live-chat">
    <div class="clearfix gray chat-header">
        <a href="#" class="chat-close">-</a>
        <h4>John Doe</h4>
        <span class="chat-message-counter">3</span>
    </div>
    <div class="chat" style="display:none;">
        <div class="chat-history">
            <div class="chat-message clearfix">
                <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32" />
                <div class="chat-message-content clearfix">
                    <span class="chat-time">13:35</span>
                    <h5>John Doe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
                </div> <!-- end chat-message-content -->
            </div> <!-- end chat-message -->
            <hr>
            <div class="chat-message clearfix">
                <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">
                <div class="chat-message-content clearfix">
                    <span class="chat-time">13:37</span>
                    <h5>Marco Biedermann</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>
                </div> <!-- end chat-message-content -->
            </div> <!-- end chat-message -->
            <hr>
            <div class="chat-message clearfix">
                <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32">
                <div class="chat-message-content clearfix">
                    <span class="chat-time">13:38</span>
                    <h5>John Doe</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div> <!-- end chat-message-content -->
            </div> <!-- end chat-message -->
            <hr>
        </div> <!-- end chat-history -->
        <p class="chat-feedback">Your partner is typing…</p><img src="/images/typing-loading.gif" alt="" />
        <form action="#" method="post">
            <fieldset>
                <input type="text" placeholder="Type your message…" autofocus>
                <input type="hidden">
            </fieldset>
        </form>
    </div> <!-- end chat -->
</div> <!-- end live-chat -->

<div id="container" class="ui-notify">
    {% block notify %}
    {% endblock %}
</div>

<div class="wrapper">
<header>
    <div class="logo">
        <img src="/images/logo.png" alt="" />
    </div><!-- Logo -->
    <div class="welcome-user">
        <img src="/images/user.png" alt=""/>
        <span>LARA SMITH</span>
        <p>Welcome Lara Smith</p>
    </div>
    <div class="side-navigation">
        <ul>
            <li><a href="dashboard.html" title=""><i class="icon-laptop"></i>Dashboard</a></li>
            <li><a href="hosting-dashboard.html" title=""><i class="icon-laptop"></i>Hosting Dashboard</a></li>
            <li><a href="sale-purchase-dashboard.html" title=""><i class="icon-laptop"></i>For Sale & Purchase</a></li>
            <li><a title=""><i class="icon-cogs"></i>Components<span>13</span></a>
                <ul>
                    <li><a href="charts.html" title=""><i class="icon-angle-right"></i>Charts</a></li>
                    <li><a href="notification.html" title=""><i class="icon-angle-right"></i>Notifications</a></li>
                    <li><a href="grids.html" title=""><i class="icon-angle-right"></i>Grids</a></li>
                    <li><a href="ribbon-grids.html" title=""><i class="icon-angle-right"></i>Ribbon Grids</a></li>
                    <li><a href="buttons.html" title=""><i class="icon-angle-right"></i>Buttons</a></li>
                    <li><a href="calendars.html" title=""><i class="icon-angle-right"></i>Calendars</a></li>
                    <li><a href="progressbar.html" title=""><i class="icon-angle-right"></i>Progress Bar</a></li>
                    <li><a href="file-manager.html" title=""><i class="icon-angle-right"></i>File Manager</a></li>
                    <li><a href="gallery.html" title=""><i class="icon-angle-right"></i>Gallery</a></li>
                    <li><a href="slider.html" title=""><i class="icon-angle-right"></i>Slider</a></li>
                    <li><a href="dashboard.html" title=""><i class="icon-angle-right"></i>Page Tour</a></li>
                    <li><a href="collapse.html" title=""><i class="icon-angle-right"></i>Collapse</a></li>
                    <li><a href="range-slider.html" title=""><i class="icon-angle-right"></i>Range Slider</a></li>
                </ul>
            </li>
            <li><a href="form.html" title=""><i class="icon-pencil"></i>Form Elements</a></li>
            <li><a href="icon.html" title=""><i class="icon-tint"></i>Icons</a></li>
            <li><a href="tables.html" title=""><i class="icon-list-alt"></i>Tables</a></li>
            <li><a href="typography.html" title=""><i class="icon-font"></i>Typography</a></li>
            <li><a title=""><i class="icon-rocket"></i>Sample Pages<span>4</span></a>
                <ul>
                    <li><a href="invoice.html" title=""><i class="icon-angle-right"></i>Invoice</a></li>
                    <li><a href="index.html" title=""><i class="icon-angle-right"></i>Log in</a></li>
                    <li><a href="404.html" title=""><i class="icon-angle-right"></i>404 Error Page</a></li>
                    <li><a href="blank-page.html" title=""><i class="icon-angle-right"></i>Blank Page</a></li>
                </ul>
            </li>
            <li><a title=""><i class="icon-ellipsis-horizontal"></i>Bonus Free<span>5</span></a>
                <ul>
                    <li><a href="price-table.html" title=""><i class="icon-angle-right"></i>Pricing Table</a></li>
                    <li><a href="search.html" title=""><i class="icon-angle-right"></i>Search Result</a></li>
                    <li><a href="inbox.html" title=""><i class="icon-angle-right"></i>Message</a></li>
                    <li><a href="profile.html" title=""><i class="icon-angle-right"></i>Profile</a></li>
                    <li><a href="faq.html" title=""><i class="icon-angle-right"></i>FAQ</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="social-statistics">
        <h4 class="headings"><i class="icon-twitter"></i>Social Statistics</h4>
        <div class="social-details">
            <img src="/images/fb.jpg" alt="" />
            <span>530,893</span>
            <p>Total Facebook Likes</p>
        </div>

        <div class="social-details">
            <img src="/images/twitter.jpg" alt="" />
            <span>17,812</span>
            <p>Total Twitter Tweets</p>
        </div>

        <div class="social-details">
            <img src="/images/rss.jpg" alt="" />
            <span>2,159</span>
            <p>Total Rss</p>
        </div>
    </div>


    <div class="new-files">
        <h4 class="headings"><i class="icon-envelope"></i> Your Emails</h4>
        <ul>
            <li>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <a title="" href="#"><i class="icon-envelope blue"></i>From : David Smith</a>
                <p>Dear Victoria, Congratulations! You work has been uploaded so please....</p>
            </li>
            <li>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <a title="" href="#"><img src="/images/email-thumb.png" alt="" />Re : John Doe</a>
                <p>Dear Haxzer, What's Your Plan! You work has been uploaded so please....</p>
            </li>
            <li>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <a title="" href="#"><i class="icon-envelope green"></i>Re : Parker</a>
                <p>Dear Haxzer, What's Your Plan! You work has been uploaded so please....</p>
            </li>

        </ul>
    </div>
    <div class="tag-sec">
        <input id="tags_1" type="text" class="tags" value="Here,you,can,add,tags" />
    </div>

    <a class="slide-up-btn"><i class="icon-align-justify"></i></a>
</header><!-- Header End -->


<section class="main-section">
<div class="responsive-logo">
    <img src="/images/logo.png" alt="" />
</div>
<div class="responsive-menu">
    <div class="responsive-menu-dropdown">
        <a title="" class="red">MENU <i class="icon-align-justify" ></i></a>
    </div>

    <ul>
        <li><a href="dashboard.html" title=""><i class="icon-laptop"></i>Dashboard</a></li>
        <li><a href="hosting-dashboard.html" title=""><i class="icon-laptop"></i>Hosting Dashboard</a></li>
        <li><a href="sale-purchase-dashboard.html" title=""><i class="icon-laptop"></i>For Sale & Purchase</a></li>
        <li><a title=""><i class="icon-cogs"></i>Components<span>13</span></a>
            <ul>
                <li><a href="charts.html" title=""><i class="icon-angle-right"></i>Charts</a></li>
                <li><a href="notification.html" title=""><i class="icon-angle-right"></i>Notifications</a></li>
                <li><a href="grids.html" title=""><i class="icon-angle-right"></i>Grids</a></li>
                <li><a href="ribbon-grids.html" title=""><i class="icon-angle-right"></i>Ribbon Grids</a></li>
                <li><a href="buttons.html" title=""><i class="icon-angle-right"></i>Buttons</a></li>
                <li><a href="calendars.html" title=""><i class="icon-angle-right"></i>Calendars</a></li>
                <li><a href="progressbar.html" title=""><i class="icon-angle-right"></i>Progress Bar</a></li>
                <li><a href="file-manager.html" title=""><i class="icon-angle-right"></i>File Manager</a></li>
                <li><a href="gallery.html" title=""><i class="icon-angle-right"></i>Gallery</a></li>
                <li><a href="slider.html" title=""><i class="icon-angle-right"></i>Slider</a></li>
                <li><a href="dashboard.html" title=""><i class="icon-angle-right"></i>Page Tour</a></li>
                <li><a href="collapse.html" title=""><i class="icon-angle-right"></i>Collapse</a></li>
                <li><a href="range-slider.html" title=""><i class="icon-angle-right"></i>Range Slider</a></li>
            </ul>
        </li>
        <li><a href="form.html" title=""><i class="icon-pencil"></i>Form Elements</a></li>
    </ul>
    <ul>
        <li><a href="icon.html" title=""><i class="icon-tint"></i>Icons</a></li>
        <li><a href="tables.html" title=""><i class="icon-list-alt"></i>Tables</a></li>
        <li><a href="typography.html" title=""><i class="icon-font"></i>Typography</a></li>
        <li><a title=""><i class="icon-rocket"></i>Sample Pages<span>4</span></a>
            <ul>
                <li><a href="invoice.html" title=""><i class="icon-angle-right"></i>Invoice</a></li>
                <li><a href="index.html" title=""><i class="icon-angle-right"></i>Log in</a></li>
                <li><a href="404.html" title=""><i class="icon-angle-right"></i>404 Error Page</a></li>
                <li><a href="blank-page.html" title=""><i class="icon-angle-right"></i>Blank Page</a></li>
            </ul>
        </li>
        <li><a title=""><i class="icon-ellipsis-horizontal"></i>Bonus Free<span>5</span></a>
            <ul>
                <li><a href="price-table.html" title=""><i class="icon-angle-right"></i>Pricing Table</a></li>
                <li><a href="search.html" title=""><i class="icon-angle-right"></i>Search Result</a></li>
                <li><a href="inbox.html" title=""><i class="icon-angle-right"></i>Message</a></li>
                <li><a href="profile.html" title=""><i class="icon-angle-right"></i>Profile</a></li>
                <li><a href="faq.html" title=""><i class="icon-angle-right"></i>FAQ</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="container">
<div class="row">
<div class="main-bg">
<div class="top-stats">
    <input type="text" placeholder="Your Search Here" /><i class="icon-search"></i>
    <div class="top-bar-chart">
        <div class="bar-chart-details">
            <p>New User</p>
            <h5>17,561</h5>
        </div>
        <span id="new-orders" class="sparkline">4,5,6,7,6,5,4,3,2,2,4</span>
    </div>

    <div class="top-bar-chart">
        <div class="bar-chart-details">
            <p>My Balance</p>
            <h5>$21,561.01</h5>
        </div>
        <span id="my-balance" class="sparkline">4,5,6,7,6,5,4,3,2,2,4</span>
    </div>
    <div class="top-stats-icons">
        <i class="icon-rocket"></i><i class="icon-user"></i><i class="icon-laptop"></i><i class="icon-tasks"></i>
    </div>
</div>

<div class="breadcrumbs-notify">
    <a href="#" title="">Home / </a> <a href="#" class="current-page" title=""> Blank Page </a>
    <div class="notification-auto">
        <div class="fade-notification">
            <h5><i class="icon-warning-sign"></i> Notification :</h5>
        </div>
        <div class="notification-slideshow">
            <h6 class="notify-fade">Server 3 is Over Loader Please Check. <i>3:45pm</i></h6>
            <h6 class="notify-fade">Server # 10 is Not Responding<i>1:30 Am</i></h6>
            <h6 class="notify-fade">New User Registration Error . <i>Today</i></h6>
            <h6 class="notify-fade">Domain Expiration Error <i>Yesterday</i></h6>
            <h6 class="notify-fade">Database Over loaded 2% Remaining <i>9:59 pm</i></h6>
            <h6 class="notify-fade">Application Erro Delete it Now <i>Last Week</i></h6>
        </div>
    </div>
</div>




<div class="body-sec">
    {% block content %}
    {% endblock %}
</div><!-- Body Sec -->
</div><!-- main-bg-->
</div><!-- Row -->
</div><!-- Container -->

</section><!-- Main Section -->

</div><!-- Wrapper -->

<script type="text/javascript">
    $(function(){
        var introguide = introJs();
        // var startbtn   = $('#startdemotour');

        introguide.setOptions({
            steps: [
                {
                    element: '.top-stats',
                    intro: 'Click Here',
                    position: 'bottom'
                },
                {
                    element: '#intro2',
                    intro: 'With 3D transforms, we can make simple.',
                    position: 'bottom'
                },
                {
                    element: '#intro3',
                    intro: 'Hover over each title to display a longer description.',
                    position: 'bottom'
                },
                {
                    element: '#intro4',
                    intro: 'Click the With 3D transforms, we can make simple.',
                    position: 'right'
                },
                {
                    element: 'header',
                    intro: "Each demo will link to the previous & next entries.",
                    position: 'bottom'
                }

            ]
        });

      //  introguide.start();


    });
</script>
</body>
</html>
