{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Me'|trans }}{% endblock %}

{% block content %}
    <div class="wrap clearfix">
        <!--breadcrumbs-->
        {% block breadcrumbs %}
            <div id="breadcrumb">
                {{ knp_menu_render('breadcrumbs', {currentClass: 'active','template': 'IdeaFlowAppBundle:Navigation:breadcrumbs.html.twig'}) }}
            </div>
        {% endblock %}
        <!--//breadcrumbs-->

        <!--row-->
        <div class="row">
            <header class="s-title">
                <h1>{{ 'User profile'|trans }}</h1>
            </header>

            <!--content-->
            <section class="content full-width wow fadeInUp">
                <div class="submit_recipe container">
                    {% form_theme profileForm 'IdeaFlowUserBundle:Form:fields.html.twig' %}
                    {{ form(profileForm) }}

                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>

{% endblock %}


