{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Me'|trans }}{% endblock %}

{% block content %}
    <div class="wrap clearfix">
    <!--breadcrumbs-->
    {% block breadcrumbs %}
        <div id="breadcrumb">
        </div>
    {% endblock %}
    <!--//breadcrumbs-->

    <!--content-->
    <section class="content">
    <!--row-->
    <div class="row">
    <!--profile left part-->
    <div class="my_account one-fourth wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
        <figure>
            {% if profile.cover and profile.cover.getWebPath %}
                <img alt="" src="{{ profile.cover.getWebPath|imagine_filter('user_profile_cover') }}">
            {% else %}
                <img alt="" src="//placehold.it/270x270">
            {% endif %}

        </figure>
        <div class="container">
            <h2>{{ profile.user.username }}</h2>

            <p>
                <a class="button more medium" href="{{ path('user_account_edit') }}">{{ 'Edit'|trans }}</a>
            </p>
        </div>
    </div>
    <!--//profile left part-->

    <div class="three-fourth wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
        <nav class="tabs">
            <ul>
                <li class=""><a title="{{ 'About me'|trans }}" href="#about">{{ 'About me'|trans }}</a></li>
                <li class=""><a title="{{ 'My ideas'|trans }}" href="#recipes">{{ 'My ideas'|trans }}</a></li>
                <li class=""><a title="{{ 'Favorites'|trans }}" href="#favorites">{{ 'Favorites'|trans }}</a></li>
            </ul>
        </nav>

        <!--about-->
        <div id="about" class="tab-content" style="width: 870px;">
            <div class="entries row">
                <dl class="basic full-width">
                    <dt>{{ 'Country'|trans }}</dt>
                    <dd>{{ profile.country }}</dd>
                    <dt>{{ 'City'|trans }}</dt>
                    <dd>{{ profile.city }}</dd>
                    <dt>{{ 'Age'|trans }}</dt>
                    <dd>{{ profile.age }}</dd>
                    <dt>{{ 'Interests'|trans }}</dt>
                    <dd>{{ profile.interests }}</dd>
                    <dt>{{ 'My ideas'|trans }}</dt>
                    <dd>{{ ideasCount }}</dd>
                    <!-- <dt>{{ 'Subscribers'|trans }}</dt>
                <dd>9</dd>  -->
                </dl>

                <!--   <div class="one-third">
                    <ul class="boxed gold">
                        <li class="light"><a title="Best recipe" href="#"><i class="ico i-had_best_recipe"></i> <span>Had a best recipe</span></a>
                        </li>
                        <li class="medium"><a title="Was featured" href="#"><i class="ico i-was_featured"></i> <span>Was featured</span></a>
                        </li>
                        <li class="dark"><a title="Added a first recipe" href="#"><i
                                        class="ico i-added_first_recipe"></i>
                                <span>Added a first recipe</span></a></li>

                        <li class="medium"><a title="Added 10-20 recipes" href="#"><i
                                        class="ico i-added_several_recipes"></i> <span>Added 10-20 recipes</span></a>
                        </li>
                        <li class="dark"><a title="Events" href="recipes.html"><i class="ico i-wrote_blog_post"></i>
                                <span>Wrote a blog post</span></a>
                        </li>
                        <li class="light"><a title="Fish" href="recipes.html"><i class="ico i-wrote_comment"></i> <span>Wrote a comment</span></a>
                        </li>

                        <li class="dark"><a title="Fish" href="recipes.html"><i class="ico i-won_contest"></i> <span>Won a contest</span></a>
                        </li>
                        <li class="light"><a title="Healthy" href="recipes.html"><i class="ico i-shared_recipe"></i>
                                <span>Shared a recipe</span></a>
                        </li>
                        <li class="medium"><a title="Was featured" href="#"><i class="ico i-was_featured"></i> <span>Was featured</span></a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <!--//about-->

        <!--my recipes-->
        <div id="recipes" class="tab-content">
            <div class="entries row">
                <!--item-->
                {% import "IdeaFlowIdeaBundle:Idea:preview.html.twig" as ideaMacro %}
                {% for idea in ideas %}
                    {{ ideaMacro.view(idea,null,0) }}
                {% endfor %}
                <!--item-->

                {% if ideas %}
                    <div class="quicklinks recipes">
                        {{ knp_pagination_render(ideas) }}
                        <a href="javascript:void(0)" class="button scroll-to-top">Наверх</a>
                    </div>
                {% endif %}

            </div>
        </div>
        <!--//my recipes-->


        <!--my favorites-->
        <div id="favorites" class="tab-content" style="width: 870px;">
            <div class="entries row">
                <!--item-->
                {% import "IdeaFlowIdeaBundle:Idea:preview.html.twig" as ideaMacro %}
                {% for idea in favouriteIdeas %}
                    {{ ideaMacro.view(idea,null,1) }}
                {% endfor %}
                <!--item-->

                {% if favouriteIdeas %}
                    <div class="quicklinks favorites">
                        {{ knp_pagination_render(favouriteIdeas) }}
                        <a href="javascript:void(0)" class="button scroll-to-top">Наверх</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--//my favorites-->

        <!--my posts-->
        <div id="posts" class="tab-content" style="display: none;">
            <!--entries-->
            <div class="entries row">
                <!--item-->
                <div class="entry one-third">
                    <figure>
                        <img alt="" src="/images/img12.jpg">
                        <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a>
                        </figcaption>
                    </figure>
                    <div class="container">
                        <h2><a href="blog_single.html">Barbeque party</a></h2>

                        <div class="actions">
                            <div>
                                <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                <div class="comments"><i class="ico i-comments"></i><a
                                            href="blog_single.html#comments">27</a></div>
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                                Lorem ipsum dolor sit amet . . . </p>
                        </div>
                    </div>
                </div>
                <!--item-->

                <!--item-->
                <div class="entry one-third">
                    <figure>
                        <img alt="" src="/images/img11.jpg">
                        <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a>
                        </figcaption>
                    </figure>
                    <div class="container">
                        <h2><a href="blog_single.html">How to make sushi</a></h2>

                        <div class="actions">
                            <div>
                                <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                <div class="comments"><i class="ico i-comments"></i><a
                                            href="blog_single.html#comments">27</a></div>
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                                Lorem ipsum dolor sit amet . . . </p>
                        </div>
                    </div>
                </div>
                <!--item-->

                <!--item-->
                <div class="entry one-third">
                    <figure>
                        <img alt="" src="/images/img10.jpg">
                        <figcaption><a href="blog_single.html"><i class="ico i-view"></i> <span>View post</span></a>
                        </figcaption>
                    </figure>
                    <div class="container">
                        <h2><a href="blog_single.html">Make your own bread</a></h2>

                        <div class="actions">
                            <div>
                                <div class="date"><i class="ico i-date"></i><a href="#">22 Dec 2014</a></div>
                                <div class="comments"><i class="ico i-comments"></i><a
                                            href="blog_single.html#comments">27</a></div>
                            </div>
                        </div>
                        <div class="excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                                Lorem ipsum dolor sit amet . . . </p>
                        </div>
                    </div>
                </div>
                <!--item-->
            </div>
            <!--//entries-->
        </div>
        <!--//my posts-->

        <!--eidt-->
        <!--  <div id="edit" class="tab-content">
        <div class="full-width">
            <div class="submit_recipe container box">
                {# form_theme profileForm 'IdeaFlowUserBundle:Form:fields.html.twig' %}
                {##} form(profileForm) #}

            </div>
        </div>
    </div>  -->
        <!--//edit-->
    </div>


    </div>
    <!--//row-->
    </section>
    <!--//content-->
    </div>
{% endblock %}
