<div class="entries row">
    <!--item-->
    {% import "IdeaFlowIdeaBundle:Idea:preview.html.twig" as ideaMacro %}
    {% for idea in ideas %}
        {{ ideaMacro.view(idea,null,0) }}
    {% endfor %}
    <!--item-->

    {% if ideas %}
        <div class="quicklinks">
            {{ knp_pagination_render(ideas) }}
            <a href="javascript:void(0)" class="button scroll-to-top">Наверх</a>
        </div>
    {% endif %}

</div>
