<!--right sidebar-->
<aside class="sidebar one-fourth wow fadeInRight">
    <!--  <div class="widget right">
        <h3><a class="" href="{{ path('category_submit') }}">{{ 'Submit category'|trans }}</a></h3>
    </div>
     -->

    <div class="widget">
        <ul class="categories right">
            <li class="">
                <a class="" href="{{ path('category_submit') }}">
                    <i class="fa fa-plus-circle"></i>
                    {{ 'Submit category'|trans }}</a>
            </li>
            <li class="{% if current == null %}active{% endif%}"><a href="{{ path('ideas') }}">Все идеи</a></li>
            {% for category in categories %}
                <li class="{% if current and current.name == category.name %}active{% endif%}"><a href="{{ path('ideas_by_category',{name:category.name}) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <h3>Реклама</h3>
        <a href="#"><img src="/images/advertisment.jpg" alt="" /></a>
    </div>
</aside>
<!--//right sidebar-->
