{% extends "IdeaFlowAppBundle::layout.html.twig" %}

{% block title %}VswSystem - {{ 'Submit category'|trans }}{% endblock %}

{% block content %}
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">
            <header class="s-title">
                <h1>{{ 'Submit category'|trans }}</h1>
            </header>

            <!--content-->
            <section class="content full-width wow fadeInUp">
                <div class="submit_recipe container">
                    {% form_theme categoryForm 'IdeaFlowUserBundle:Form:fields.html.twig' %}
                    {{ form(categoryForm) }}
                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>

{% endblock %}


