<div class="widget members">
    <h3>{{ 'Users who likes this idea'|trans }}</h3>
    <ul class="boxed">
        <li><div class="avatar"><a href="my_profile.html"><img src="/images/avatar6.jpg" alt="" /><span>Bryan A.</span></a></div></li>
    </ul>
</div>
